.AppContainer {
  background-color: #222222;
}

.OrderItemDisplay-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.layout {
  background-color: white;
  border: 1px solid gray;
}

.u-VerticalCenter {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.AddItemForm {
  padding-top: 15px;
  padding-bottom: 15px;
}